#root{
    border: 1px solid black;
    margin: 1px;

    display: flex;
    margin: auto;
    width: fit-content;
    flex-wrap: wrap;
}
.element{
    border: 1px solid black;
    margin: 1px;
    border-radius: 20px;
     
    height: 40px;
    width: 40px;
}

.active{
    background-color: red;
}

.ctl {
    border: 1px solid black;
    margin-bottom: 20px;
  
}